.cloud/
.storage/
custom_components/
deps/
tts/
.HA_VERSION
.homekit.state
.uuid
ecobee.bak
ecobee.conf
emulated_hue_ids.json
harmony_harmony_hub.conf
home-assistant_v2.bak
home-assistant_v2.db
home-assistant.log
known_devices.yaml
life360.conf
secrets.yaml
